{{page-title "Home"}}

<GeneralContainer>
    <HomeNavigation></HomeNavigation>
    <div class="conatiner-fluid mt-4 text-center">
        <AboutUs class="m-3"></AboutUs>
    </div>
</GeneralContainer>